*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}

h1 {
    border: 0;
    margin: 0;
	font-size:60px;
	color:navy;
	font-family:helvetica;
	
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #BBB;
	
}

.welcome-screen {
    margin:auto;
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-image:url("img/back.jpg");
	
}

#name-input{

    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}


h2{
	font-size:30px;
	font-family:helvetica;
	color:mediumblue;
}
h3{
	color:blue;
	font-size:20px;
	font-family:helvetica;
}
	

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-image:url("img/back4.jpg");
	background-size:cover;

}

.main header {
    height: 80px;
    //background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
   
}

.main footer {
    height: 80px;
    //background-color: #282828;
    padding-top: 1rem;
}

.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
	
	
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}

.content {
    position: relative;
}
.current-song-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}
 /*DataTables overrides*/
table.dataTable tbody tr {
    background-color: initial;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
	border-radius: 10px;
}
input:focus{
	outline:none !important;
}

.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}
        
#moodi{
	
  margin: auto;
}
.song-mood-list{
  display: inline-block;
  height: 150px;
  width: 200RRpx;
  
}
.song-mood-list-img{
   
    border: 3px solid crimson;
   
   padding: 5px;
   
  height: 100%;
  weight:100%;
  
  margin-top:252px;
  margin-bottom:252px;
  margin-left:100px;
  margin-right:50px;
  border-radius:30%;
}
.mood{
	
	background-image:url("img/back5.jpg");
	//background-size:contain;
	  background-size: 100% 100%;
    background-repeat: no-repeat;

	
	
}

.song-mood-list-img:hover{
	background-color:brown;
}

	
	
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

.button {
  display: inline-block;
  padding: 15px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.back-button {
  display: inline-block;
  border-radius: 30px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
}

.back-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.back-button:hover span {
  padding-right: 25px;
}

.back-button:hover span:after {
  opacity: 1;
  right: 0;
}
.heading{
	
	color:red;
	text-align:center;
	font-size:70px;
}
#sing{
	font-size:70px;
	color:orange;
}